
QWidget {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: sans-serif;
}
QPushButton {
    border: none;
    font-size: 10pt;
}
QPushButton:hover {
    color: var(--foreground-selected-color);
}

/* QPushButton#stats {
    color: "#007acc";
} */

.highlighted {
    color: var(--standout-color);
}

.super-text{
    color: var(--foreground-selected-color);
}

.error-text{
    color: var(--error-color);
    text-decoration: var(--error-color) underline;
}

.words_to_type {
    font-size: 18pt;
    border: none;
    /* color: var(--foreground-selected-color); */
}

QLineEdit {
    font-size: 18pt;
    border: none;
    color: var(--foreground-selected-color);
}

InputLabel {
    font-size: 18pt;
    border: none;
    color: var(--foreground-selected-color);
}

.heading {
    font-size: 20pt;
    font-weight: 700;
}

/* .link {
    text-decoration: none;
    color: var(--foreground-color)
} */

#link_github {
    color: var(--foreground-color);
}

#timer_label {
    font-size: 18pt;
    font-weight: 700;
}

QComboBox {
    border: 1px solid var(--foreground-color);
    border-radius: 5px;
    
}